In [27]:
import pandas as pd 
data=pd.read_csv("D:\Python Programs\JupyNotebook\Hamoye Stage B\energydata_complete.csv")
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,11-01-2016 17:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,11-01-2016 17:10,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,11-01-2016 17:20,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,11-01-2016 17:30,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,11-01-2016 17:40,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,27-05-2016 17:20,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,27-05-2016 17:30,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,27-05-2016 17:40,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,27-05-2016 17:50,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,27-05-2016 18:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [28]:
data.shape

(19735, 29)

In [29]:
data.groupby(['RH_8']).sum(3)

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
RH_8,,,,,,,,,,,,,,,,,,,,,
29.600000,470,0,43.400000,65.078333,39.780000,65.113333,45.926667,68.400000,39.520000,63.926667,...,37.100000,76.290000,10.63,1525.416667,110.000000,9.166667,80.000000,-6.47,21.207406,21.207406
29.675000,50,0,21.790000,33.000000,19.790000,32.826667,23.360000,34.726667,19.790000,31.930000,...,18.600000,38.090000,5.67,762.583333,52.000000,4.833333,40.000000,-3.63,22.878891,22.878891
29.700000,50,0,21.790000,33.333333,19.790000,32.900000,23.500000,35.133333,19.730000,31.730000,...,18.533333,38.090000,5.90,762.500000,50.000000,5.000000,40.000000,-3.90,11.684222,11.684222
29.726667,340,0,21.633333,32.433333,19.790000,32.030000,22.666667,33.900000,19.700000,31.856667,...,18.566667,38.200000,4.97,762.833333,58.000000,4.333333,40.000000,-2.83,27.673420,27.673420
29.790000,310,0,22.200000,34.826667,20.066667,34.196667,23.763333,33.963333,21.000000,33.500000,...,19.700000,37.790000,7.10,766.600000,60.000000,4.000000,25.000000,-0.20,2.628851,2.628851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58.675556,50,10,21.500000,47.090000,20.600000,46.966667,21.700000,46.626667,18.890000,49.290000,...,17.500000,52.700000,10.90,757.833333,93.666667,6.666667,62.333333,9.87,1.279328,1.279328
58.702778,50,10,21.575000,47.022500,20.666667,46.900000,21.633333,46.626667,18.890000,49.290000,...,17.500000,52.700000,10.90,757.700000,93.000000,7.000000,62.500000,9.85,31.266625,31.266625
58.730000,50,20,21.600000,46.966667,20.700000,46.826667,21.700000,46.530000,19.000000,49.290000,...,17.500000,52.530000,11.10,757.433333,91.666667,7.666667,62.833333,9.82,49.876911,49.876911
58.740000,40,10,21.600000,47.000000,20.700000,46.900000,21.700000,46.590000,18.926667,49.290000,...,17.500000,52.590000,11.00,757.566667,92.333333,7.333333,62.666667,9.83,5.692451,5.692451
58.780000,40,10,21.600000,46.900000,20.700000,46.790000,21.700000,46.500000,18.926667,49.290000,...,17.500000,52.466667,11.20,757.300000,91.000000,8.000000,63.000000,9.80,3.124403,3.124403

In [30]:
data.memory_usage()

Index             128
date           157880
Appliances     157880
lights         157880
T1             157880
RH_1           157880
T2             157880
RH_2           157880
T3             157880
RH_3           157880
T4             157880
RH_4           157880
T5             157880
RH_5           157880
T6             157880
RH_6           157880
T7             157880
RH_7           157880
T8             157880
RH_8           157880
T9             157880
RH_9           157880
T_out          157880
Press_mm_hg    157880
RH_out         157880
Windspeed      157880
Visibility     157880
Tdewpoint      157880
rv1            157880
rv2            157880
dtype: int64

In [31]:
data.RH_out.median()

83.66666667

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [33]:
X = data.iloc[:,1:30]
X

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [34]:
Y = data.RH_9
Y

0        45.5300
1        45.5600
2        45.5000
3        45.4000
4        45.4000
          ...
19730    46.7900
19731    46.7900
19732    46.7900
19733    46.8175
19734    46.8450
Name: RH_9, Length: 19735, dtype: float64

In [35]:
from sklearn.model_selection import train_test_split
train_test_split(X,Y,test_size=0.3)

[       Appliances  lights         T1       RH_1         T2       RH_2  \
 6410           40       0  20.600000  37.590000  18.533333  39.290000
 12774          60       0  20.890000  40.730000  19.460000  42.760000
 15064          70      10  21.000000  36.966667  17.926667  41.296667
 4219           70       0  22.390000  42.560000  21.700000  40.590000
 7278           30       0  20.100000  39.900000  18.500000  41.267500
 ...           ...     ...        ...        ...        ...        ...
 14457          50       0  21.890000  35.000000  19.315000  37.195000
 8827           60       0  21.390000  35.900000  18.566667  38.933333
 9504          100      20  22.856667  31.826667  21.000000  32.000000
 15779          60       0  21.390000  37.090000  18.600000  40.560000
 9972           60       0  22.600000  37.400000  19.730000  40.200000

               T3       RH_3         T4       RH_4  ...     T9       RH_9  \
 6410   20.790000  39.463333  20.200000  36.433333  ...  18.10  41.090000
 12774  22.100000  37.900000  20.200000  38.326667  ...  20.50  40.266667
 15064  22.200000  34.530000  20.585714  33.957143  ...  20.10  37.633333
 4219   22.600000  43.326667  19.100000  40.790000  ...  18.89  43.133333
 7278   20.790000  39.000000  18.790000  38.900000  ...  18.10  42.500000
 ...          ...        ...        ...        ...  ...    ...        ...
 14457  22.890000  36.590000  22.200000  33.090000  ...  20.20  38.530000
 8827   20.033333  36.326667  19.890000  35.200000  ...  18.89  39.163333
 9504   21.600000  33.626667  21.790000  31.463333  ...  20.10  36.730000
 15779  22.790000  37.200000  19.290000  37.590000  ...  19.20  41.290000
 9972   22.290000  36.700000  20.100000  37.200000  ...  19.39  37.126667

        T_out  Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint  \
 6410   -0.60   755.600000  95.333333   1.000000   62.333333     -1.270
 12774   9.30   750.400000  71.000000   4.000000   40.000000      4.300
 15064   3.23   755.233333  92.666667   2.333333   23.000000      2.130
 4219    3.05   738.750000  88.000000   6.333333   44.000000      1.250
 7278    7.30   746.800000  80.000000   7.000000   40.000000      4.100
 ...      ...          ...        ...        ...         ...        ...
 14457   6.80   763.850000  71.500000   4.000000   40.000000      2.000
 8827    1.42   768.183333  87.166667   2.000000   57.000000     -0.467
 9504   10.10   764.500000  49.000000   5.000000   25.000000     -0.200
 15779   4.80   757.550000  96.833333   1.000000   40.000000      4.280
 9972    5.90   761.500000  90.000000   1.000000   20.000000      4.400

              rv1        rv2
 6410   14.259531  14.259531
 12774  16.701262  16.701262
 15064  28.704289  28.704289
 4219   11.060600  11.060600
 7278   27.830866  27.830866
 ...          ...        ...
 14457  48.379784  48.379784
 8827   36.730464  36.730464
 9504    9.998859   9.998859
 15779  34.344813  34.344813
 9972   32.904100  32.904100

 [13814 rows x 28 columns],
        Appliances  lights         T1       RH_1         T2       RH_2     T3  \
 6948           30       0  20.230000  33.326667  18.290000  33.626667  19.70
 1724           50       0  16.790000  45.700000  16.100000  45.560000  17.39
 12557          70       0  21.963333  38.500000  19.790000  39.590000  22.39
 4662           50       0  21.133333  38.090000  19.100000  38.863333  20.89
 12930          60      10  21.890000  39.930000  23.700000  35.663333  22.50
 ...           ...     ...        ...        ...        ...        ...    ...
 753            90      20  23.066667  38.126667  22.033333  37.730000  21.79
 8018           60       0  18.926667  37.900000  17.100000  39.826667  19.39
 2666           40       0  19.100000  44.290000  18.390000  44.090000  19.89
 3508           40       0  22.100000  44.400000  21.200000  43.530000  21.89
 5146          260       0  19.890000  39.463333  18.566667  39.090000  21.76

             RH_3     T4       RH_4  ...         T9       RH_9   T_out  \
 6948   35.090000  18.89  32.400000  ...  18.200000  37.290000   1.900
 1724   43.090000  15.13  44.290000  ...  15.000000  44.400000   6.570
 12557  37.400000  21.10  37.530000  ...  20.500000  36.563333   7.520
 4662   39.590000  19.39  39.530000  ...  18.500000  41.163333   0.300
 12930  38.700000  21.79  37.466667  ...  20.790000  40.672500  11.200
 ...          ...    ...        ...  ...        ...        ...     ...
 753    41.656667  21.70  40.290000  ...  17.700000  39.826667   0.750
 8018   37.400000  18.10  35.950000  ...  17.533333  38.656667   0.967
 2666   44.826667  16.50  46.590000  ...  16.390000  49.000000   8.630
 3508   44.290000  20.79  45.790000  ...  18.290000  48.145000   7.200
 5146   38.530000  19.39  35.700000  ...  17.790000  37.230000   1.100

        Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint        rv1  \
 6948    760.700000  70.000000   6.000000   40.000000     -3.100   8.035726
 1724    770.666667  98.000000   4.000000   49.000000      6.270  10.672150
 12557   753.933333  73.333333   4.000000   40.000000      3.050  23.930654
 4662    740.900000  91.000000   2.000000   23.000000     -1.000  26.488317
 12930   753.200000  62.000000   4.000000   40.000000      4.200  44.185189
 ...            ...        ...        ...         ...        ...        ...
 753     764.650000  95.500000   2.500000   26.000000      0.100   6.428234
 8018    748.000000  96.666667   2.000000   48.333333      0.500  45.719529
 2666    755.900000  90.000000  11.666667   42.000000      7.030  13.790631
 3508    764.933333  98.333333   1.666667   36.000000      6.930  36.491560
 5146    772.266667  92.000000   1.666667   63.000000     -0.133  21.167868

              rv2
 6948    8.035726
 1724   10.672150
 12557  23.930654
 4662   26.488317
 12930  44.185189
 ...          ...
 753     6.428234
 8018   45.719529
 2666   13.790631
 3508   36.491560
 5146   21.167868

 [5921 rows x 28 columns],
 6410     41.090000
 12774    40.266667
 15064    37.633333
 4219     43.133333
 7278     42.500000
            ...
 14457    38.530000
 8827     39.163333
 9504     36.730000
 15779    41.290000
 9972     37.126667
 Name: RH_9, Length: 13814, dtype: float64,
 6948     37.290000
 1724     44.400000
 12557    36.563333
 4662     41.163333
 12930    40.672500
            ...
 753      39.826667
 8018     38.656667
 2666     49.000000
 3508     48.145000
 5146     37.230000
 Name: RH_9, Length: 5921, dtype: float64]

In [36]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.3, random_state=1)

In [37]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
mae

3.3163661162131816e-14

### Mean Absolute Error(MAR)

In [38]:
from sklearn.metrics import mean_absolute_error
y_true = data.T1
y_pred = data.RH_1
mean_absolute_error(y_true, y_pred)

18.573167893029137

### Residual Sum of Squares

In [39]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
rss

1.8800499124687176e-23

### Root Mean Square Error (RMSE)

In [40]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
rmse

5.634912272551372e-14

### R-Squared

In [41]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 5)

1.0

### Ridge Regression

In [71]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()
linear_model.fit(x_train, y_train)
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.05)
ridge_reg.fit(x_train,y_train)
ridge = ridge_reg.predict(x_train)
ridge

array([41.00000036, 38.39750082, 35.46666879, ..., 39.43332785,
       46.56666536, 48.09999752])

### Feature Selection and Lasso Regression

In [67]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
lasso = lasso_reg.predict(x_train)
lasso

array([40.99768685, 38.3982276 , 35.46594571, ..., 39.43227669,
       46.56704118, 48.09803755])

In [68]:
from sklearn.linear_model import LinearRegression
linear_model=LinearRegression()
linear_model.fit(x_train, y_train)
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [69]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [56]:
x_train.shape

(13814, 28)