In [90]:
import pandas as pd 
data=pd.read_csv("D:\Python Programs\JupyNotebook\Hamoye Stage B\energydata_complete.csv")
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,11-01-2016 17:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,11-01-2016 17:10,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,11-01-2016 17:20,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,11-01-2016 17:30,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,11-01-2016 17:40,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,27-05-2016 17:20,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,27-05-2016 17:30,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,27-05-2016 17:40,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,27-05-2016 17:50,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,27-05-2016 18:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [91]:
data.shape

(19735, 29)

In [92]:
data.groupby(['RH_8']).sum(3)

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
RH_8,,,,,,,,,,,,,,,,,,,,,
29.600000,470,0,43.400000,65.078333,39.780000,65.113333,45.926667,68.400000,39.520000,63.926667,...,37.100000,76.290000,10.63,1525.416667,110.000000,9.166667,80.000000,-6.47,21.207406,21.207406
29.675000,50,0,21.790000,33.000000,19.790000,32.826667,23.360000,34.726667,19.790000,31.930000,...,18.600000,38.090000,5.67,762.583333,52.000000,4.833333,40.000000,-3.63,22.878891,22.878891
29.700000,50,0,21.790000,33.333333,19.790000,32.900000,23.500000,35.133333,19.730000,31.730000,...,18.533333,38.090000,5.90,762.500000,50.000000,5.000000,40.000000,-3.90,11.684222,11.684222
29.726667,340,0,21.633333,32.433333,19.790000,32.030000,22.666667,33.900000,19.700000,31.856667,...,18.566667,38.200000,4.97,762.833333,58.000000,4.333333,40.000000,-2.83,27.673420,27.673420
29.790000,310,0,22.200000,34.826667,20.066667,34.196667,23.763333,33.963333,21.000000,33.500000,...,19.700000,37.790000,7.10,766.600000,60.000000,4.000000,25.000000,-0.20,2.628851,2.628851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58.675556,50,10,21.500000,47.090000,20.600000,46.966667,21.700000,46.626667,18.890000,49.290000,...,17.500000,52.700000,10.90,757.833333,93.666667,6.666667,62.333333,9.87,1.279328,1.279328
58.702778,50,10,21.575000,47.022500,20.666667,46.900000,21.633333,46.626667,18.890000,49.290000,...,17.500000,52.700000,10.90,757.700000,93.000000,7.000000,62.500000,9.85,31.266625,31.266625
58.730000,50,20,21.600000,46.966667,20.700000,46.826667,21.700000,46.530000,19.000000,49.290000,...,17.500000,52.530000,11.10,757.433333,91.666667,7.666667,62.833333,9.82,49.876911,49.876911
58.740000,40,10,21.600000,47.000000,20.700000,46.900000,21.700000,46.590000,18.926667,49.290000,...,17.500000,52.590000,11.00,757.566667,92.333333,7.333333,62.666667,9.83,5.692451,5.692451
58.780000,40,10,21.600000,46.900000,20.700000,46.790000,21.700000,46.500000,18.926667,49.290000,...,17.500000,52.466667,11.20,757.300000,91.000000,8.000000,63.000000,9.80,3.124403,3.124403

In [93]:
data.memory_usage()

Index             128
date           157880
Appliances     157880
lights         157880
T1             157880
RH_1           157880
T2             157880
RH_2           157880
T3             157880
RH_3           157880
T4             157880
RH_4           157880
T5             157880
RH_5           157880
T6             157880
RH_6           157880
T7             157880
RH_7           157880
T8             157880
RH_8           157880
T9             157880
RH_9           157880
T_out          157880
Press_mm_hg    157880
RH_out         157880
Windspeed      157880
Visibility     157880
Tdewpoint      157880
rv1            157880
rv2            157880
dtype: int64

In [94]:
data.RH_out.median()

83.66666667

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [118]:
X = data.iloc[:,1:30]
X

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [119]:
Y = data.RH_9
Y

0        45.5300
1        45.5600
2        45.5000
3        45.4000
4        45.4000
          ...
19730    46.7900
19731    46.7900
19732    46.7900
19733    46.8175
19734    46.8450
Name: RH_9, Length: 19735, dtype: float64

In [120]:
from sklearn.model_selection import train_test_split
train_test_split(X,Y,test_size=0.3)

[       Appliances  lights         T1       RH_1         T2       RH_2  \
 11964         120       0  22.390000  43.700000  22.000000  42.066667
 11785          50       0  21.000000  39.500000  20.200000  40.363333
 3856           40       0  21.200000  45.145000  20.390000  42.845000
 8526           80       0  22.100000  37.363333  19.760000  39.730000
 10500          50       0  21.100000  39.200000  19.500000  40.790000
 ...           ...     ...        ...        ...        ...        ...
 10506          90       0  21.033333  39.030000  19.566667  40.500000
 1223           30       0  18.700000  38.966667  17.390000  39.400000
 17795          70       0  24.500000  37.700000  21.890000  39.700000
 17270          60       0  25.230000  47.060000  25.585714  43.985714
 11366          80       0  21.700000  39.760000  21.100000  38.826667

               T3       RH_3         T4       RH_4  ...         T9       RH_9  \
 11964  22.700000  41.230000  21.290000  44.120000  ...  20.290000  44.290000
 11785  21.890000  37.500000  19.890000  38.200000  ...  19.700000  37.790000
 3856   21.633333  43.826667  18.790000  43.730000  ...  19.100000  45.566667
 8526   21.200000  37.500000  21.290000  34.163333  ...  18.100000  39.900000
 10500  21.890000  37.500000  20.700000  36.290000  ...  19.390000  38.022500
 ...          ...        ...        ...        ...  ...        ...        ...
 10506  21.856667  37.333333  20.600000  36.400000  ...  19.390000  37.863333
 1223   19.000000  39.290000  17.500000  38.290000  ...  16.390000  41.900000
 17795  24.200000  31.963333  24.890000  37.500000  ...  23.905714  45.200000
 17270  26.700000  42.200000  25.533333  44.790000  ...  24.100000  47.500000
 11366  22.500000  38.500000  21.500000  39.333333  ...  20.390000  38.433333

        T_out  Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint  \
 11964  17.30   749.500000  66.000000   2.000000   40.000000      10.90
 11785   9.63   757.233333  69.166667   2.000000   26.333333       4.18
 3856    7.60   745.466667  76.000000   8.333333   36.333333       3.60
 8526    3.10   762.300000  84.000000   2.000000   61.000000       0.70
 10500   9.50   756.200000  63.000000   4.000000   64.000000       2.80
 ...      ...          ...        ...        ...         ...        ...
 10506   9.40   756.100000  66.000000   4.000000   63.000000       3.30
 1223   -4.17   759.066667  90.166667   1.000000   61.000000      -5.53
 17795   8.63   755.033333  67.833333   5.000000   28.666667       2.90
 17270  19.30   750.000000  74.666667   4.333333   40.000000      14.70
 11366  10.80   753.500000  64.000000   3.333333   40.000000       4.23

              rv1        rv2
 11964  34.934752  34.934752
 11785  34.038560  34.038560
 3856   11.181292  11.181292
 8526   16.793702  16.793702
 10500   4.018525   4.018525
 ...          ...        ...
 10506  12.498724  12.498724
 1223   40.925092  40.925092
 17795   7.022569   7.022569
 17270  26.608462  26.608462
 11366  48.848753  48.848753

 [13814 rows x 28 columns],
        Appliances  lights         T1       RH_1         T2       RH_2  \
 4839           30       0  20.290000  40.290000  18.600000  41.400000
 1773           20       0  18.926667  41.863333  18.390000  41.290000
 17803         160       0  24.500000  36.590000  22.540000  37.620000
 7881           40       0  18.856667  39.500000  16.890000  41.230000
 2455           20       0  19.463333  44.363333  18.600000  44.290000
 ...           ...     ...        ...        ...        ...        ...
 3918           90      20  22.290000  42.090000  21.566667  41.090000
 18557          60       0  23.500000  41.500000  24.500000  36.590000
 7548           40       0  21.500000  36.090000  19.484286  37.077143
 19066          60       0  24.200000  47.626667  21.890000  50.200000
 7582           50       0  20.500000  38.163333  18.600000  38.916667

             T3      RH_3         T4       RH_4  ...     T9       RH_9  T_out  \
 4839   21.3900  40.74500  18.600000  41.000000  ...  18.20  45.500000   2.40
 1773   18.2000  43.70000  15.890000  47.433333  ...  15.16  46.863333   5.20
 17803  24.1000  31.97600  24.751429  36.264286  ...  23.89  40.741429   8.67
 7881   19.8900  37.50000  18.463333  37.430000  ...  18.00  40.463333   2.80
 2455   19.8900  44.34500  18.100000  44.230000  ...  17.20  46.090000   2.55
 ...        ...       ...        ...        ...  ...    ...        ...    ...
 3918   21.7000  43.06000  21.200000  40.660000  ...  18.89  40.900000   7.60
 18557  24.3900  38.70000  23.566667  39.500000  ...  22.60  42.200000  16.10
 7548   20.8775  38.18625  19.600000  35.290000  ...  18.50  40.590000   4.40
 19066  26.2900  44.70000  23.666667  45.663333  ...  23.29  49.790000  11.10
 7582   20.6000  37.90000  19.290000  36.756250  ...  18.50  41.260000   4.04

        Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint        rv1  \
 4839    735.200000  97.000000   1.500000   40.000000      2.000   5.454801
 1773    769.550000  92.000000   4.500000   23.500000      4.000  11.580244
 17803   755.550000  63.333333   5.833333   40.000000      2.020  29.060953
 7881    746.650000  95.000000   6.000000   21.000000      2.000  45.898337
 2455    765.366667  87.666667   2.166667   37.833333      0.733  16.487081
 ...            ...        ...        ...         ...        ...        ...
 3918    745.700000  70.000000  11.000000   40.000000      2.500  45.597714
 18557   754.600000  50.833333   1.166667   40.000000      5.720   1.335739
 7548    745.000000  73.000000   8.000000   40.000000     -0.100  15.986197
 19066   752.766667  94.666667   4.000000   61.666667     10.300  38.884780
 7582    740.076191  91.761905   5.714286   53.000000      2.800  17.740163

              rv2
 4839    5.454801
 1773   11.580244
 17803  29.060953
 7881   45.898337
 2455   16.487081
 ...          ...
 3918   45.597714
 18557   1.335739
 7548   15.986197
 19066  38.884780
 7582   17.740163

 [5921 rows x 28 columns],
 11964    44.290000
 11785    37.790000
 3856     45.566667
 8526     39.900000
 10500    38.022500
            ...
 10506    37.863333
 1223     41.900000
 17795    45.200000
 17270    47.500000
 11366    38.433333
 Name: RH_9, Length: 13814, dtype: float64,
 4839     45.500000
 1773     46.863333
 17803    40.741429
 7881     40.463333
 2455     46.090000
            ...
 3918     40.900000
 18557    42.200000
 7548     40.590000
 19066    49.790000
 7582     41.260000
 Name: RH_9, Length: 5921, dtype: float64]

In [121]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.3, random_state=1)

In [127]:
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
mae

3.3163661162131816e-14

### Mean Absolute Error(MAR)

In [122]:
from sklearn.metrics import mean_absolute_error
y_true = data.T1
y_pred = data.RH_1
mean_absolute_error(y_true, y_pred)

18.573167893029137

### Residual Sum of Squares

In [128]:
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
rss

1.8800499124687176e-23

### Root Mean Square Error (RMSE)

In [129]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
rmse

5.634912272551372e-14

### R-Squared

In [132]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 5)

1.0

### Ridge Regression

In [133]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.05)
ridge_reg.fit(x_train,y_train)

Ridge(alpha=0.05)

### Feature Selection and Lasso Regression

In [134]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [139]:
def get_weights_df(linear_model, feat, col_name):
    weights = pd.Series(linear_model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')